#root {
  /* max-width: 1280px; */
  margin: auto;
  text-align: center;
}

.main-heading {
  color: var(--cool-red);
  font-size: 3rem;
}

.abt-heading {
  color: var(--blackish-red);
  font-size: 1.4rem;
  font-weight: 500;
}

.books-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* margin-inline: 1rem;
  margin */
}




button {
  background-color: transparent;
  font-size: 1.5rem;
  border: dotted var(--cool-red);
  margin-block: 1.5rem;
  align-self: center;
  padding: 0;
  padding-inline: 1rem;
  transition: border-style 0.3s ease;
  cursor: pointer;
  font-weight: 400;
}


input, select, button {
  font-family: "BioRhyme", serif;
  border-radius: 4px;
  margin: 0;
}

.input-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  border: solid var(--cool-red);
  padding: 0;
  background-color: var(--like-skyblue);
  min-height: 24rem;
  border-radius: 8px;
  /* min-width: 20rem; */
}  

@media only screen and (max-width: 600px) {
html {
  font-size: 12px;
}

.books-section {
  flex-direction: column;
}
}