#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

.main-heading {
  color: var(--cool-red);
  font-size: 3rem;
}

.abt-heading {
  color: var(--cool-red);
  font-size: 1.4rem;
  font-weight: 500;
}

.books-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;

  margin-inline: 1rem;
}

button {
  background-color: transparent;
  font-size: 1.5rem;
  border: dotted var(--cool-red);
  margin-block: 1.5rem;
  align-self: center;
  padding: 0;
  padding-inline: 1rem;
  transition: border-style 0.3s ease;
  cursor: pointer;
  font-weight: 400;
}


@media only screen and (max-width: 600px) {
  .books-section {
    grid-template-columns: repeat(1, 1fr);
  }
}