:root {
  font-family: "BioRhyme", "Martian Mono", serif;
  line-height: 1.5;
  /* font-weight: 400; */

  --cool-yellow: #f6d549ff;
  --cool-red: rgba(225, 58, 52, 1);
  --like-skyblue: #85d4c9ff;

  color-scheme: light dark;
  color: var(--cool-red);
  background-color: var(--cool-yellow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
